// Margin Top Utils
.margin-top-lg {
  margin-top: 6rem !important;
}

.margin-top-md {
  margin-top: 3.6rem !important;
}

.margin-top-sm {
  margin-top: 1rem !important;
}

// Margin Bottom Utils
.margin-bottom-hg {
  margin-bottom: 15rem !important;
}
.margin-bottom-lg {
  margin-bottom: 6rem !important;
}

.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}

.margin-bottom-sm {
  margin-bottom: 1rem !important;
}

// Text Center Utils
.center-text {
  text-align: center !important;
}

.footer-gap {
  row-gap: 8rem !important;
}
