.main {
  background-color: $grey-color-light;
  position: relative;
  z-index: 1;
}

.section-about {
  padding: 25rem 2rem;
  margin-top: -20vh;

  @media only screen and (max-width: $breakpoint-tablet-min) {
    padding: 25rem 0 75rem 0;
  }

  @media only screen and (max-width: $breakpoint-mobile-min) {
    margin-top: -5vh;
    padding: 15rem 0 65rem 0;
  }
}

.section-features {
  background-image: linear-gradient(
      to right,
      rgba($primary-color-main, 0.9),
      rgba($primary-color-main, 0.9)
    ),
    url(../../img/estate-1.jpg);
  padding: 20rem 2rem;
  transform: skewY(-5deg);
  margin-top: -35rem;

  & > * {
    transform: skewY(5deg);
  }

  @media only screen and (max-width: $breakpoint-mobile-min) {
    padding: 10rem 0;
  }
}

.section-properties {
  padding: 15rem 2rem;
  text-align: center;

  @media only screen and (max-width: $breakpoint-mobile-min) {
    padding: 10rem 0;
  }
}

.section-testimonials {
  padding: 15rem 2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media only screen and (max-width: $breakpoint-mobile-min) {
    padding: 10rem 0;
  }
}

.section-cta {
  padding: 15rem 2rem;
  background-image: linear-gradient(
    to right bottom,
    $primary-color-light,
    $primary-color-dark
  );

  @media only screen and (max-width: $breakpoint-mobile-min) {
    padding: 10rem 0;
  }
}

.access {
  background-image: linear-gradient(
      105deg,
      rgba($neutral-color-1, 0.9) 0%,
      rgba($neutral-color-1, 0.9) 50%,
      transparent 50%
    ),
    url(../../img/comp-1.jpg);
  background-size: cover;
  border-radius: 3px;
  box-shadow: $shadow-light;

  &__form {
    width: 50%;
    padding: 6rem;
  }

  @media only screen and (max-width: $breakpoint-tablet-min) {
    background-image: linear-gradient(
        105deg,
        rgba($neutral-color-1, 0.9) 0%,
        rgba($neutral-color-1, 0.9) 70%,
        transparent 30%
      ),
      url(../../img/comp-1.jpg);

    &__form {
      width: 70%;
    }
  }

  @media only screen and (max-width: $breakpoint-mobile-min) {
    background-image: linear-gradient(
        105deg,
        rgba($neutral-color-1, 0.9) 0%,
        rgba($neutral-color-1, 0.9) 100%,
        transparent 0%
      ),
      url(../../img/comp-1.jpg);

    &__form {
      width: 100%;
      padding: 3rem;
    }
  }
}

.section-team {
  padding: 15rem 2rem;

  @media only screen and (max-width: $breakpoint-mobile-min) {
    padding: 10rem 0;
  }
}
